{% extends 'base.html' %}

{% block title %}Home - Beyond Infinity Events{% endblock %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4" style=" font-family: 'Brush Script MT', cursive !important">"We
                make thing go <span class="text-primary">Smoothly</span>"</h1>
            <p class="animated fadeIn mb-4 pb-2">Let's do it Beyond Infinity way, Making things go smoothly
                since 2017 <br>
                Laguna, Rizal, Cavite, Batangas, Quezon and Manila Weddings </p>
            <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="static/img/slider_1.jpg" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="static/img/slider2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->





<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="static/img/15.png">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">EVENT SUPPLIER ALLERT!!</h1>
                <p class="mb-4"> <span>GETTING MARRIED?</span> Do not face your special but very busy day alone!
                    Hire us. We are Beyond Infinity and we provide on the day coordination and hosting service
                    We make wedding day go smooth; bride and groom stress free.</p>
                <p><i class="fa fa-check text-primary me-3"></i>OTD Coordinations</p>
                <p><i class="fa fa-check text-primary me-3"></i>Event Planner</p>
                <p><i class="fa fa-check text-primary me-3"></i>Event Host</p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="enlargeImage(this)"
                    class="btn btn-primary py-3 px-5 mt-3">
                    <img class="img-fluid" src="static/img/15.png" alt="Property 1" hidden>Read More
                </a>


            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Service Listing</h1>
                    <p>We make wedding day go smooth;
                        bride and groom stress free.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Wedding</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">Anniversary</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">Christening</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">Hosting</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">Others</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for service in services %}
                    {% set delay = 0.1 + (loop.index0 % 3) * 0.2 %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="{{ '%.1fs' % delay }}">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#bookingModal"
                                    onclick="document.getElementById('service_package_input').value='{{ service.package_name }}'">
                                    <img class="img-fluid" src="{{ service.image_url }}" alt="{{ service.title }}">
                                </a>
                                <div
                                    class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    {{ service.package_name }}
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">₱{{ service.price }}</h5>
                                <a class="d-block h5 mb-2" href="#">{{ service.title }}</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ service.locations }}
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <large class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>{{
                                    service.visitors }}</large>
                                <large class="flex-fill text-center py-2"><i
                                        class="fa fa-calendar text-primary me-2"></i><a href="#" data-bs-toggle="modal"
                                        data-bs-target="#bookingModal"
                                        onclick="document.getElementById('service_package_input').value='{{ service.package_name }}'">Book
                                        Now</a>
                                </large>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Property List End -->

        <!-- Image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img id="modalImage" class="img-fluid" src="" alt="Enlarged Image">
                    </div>
                </div>
            </div>
        </div>



        <!-- Call to Action Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded p-3">
                    <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded w-100" src="static/img/call-to-action.jpg" alt="">
                            </div>
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="mb-4">
                                    <h1 class="mb-3">Contact With Our Certified Agent</h1>
                                    <p>Eirmod sed ipsum dolor sit rebum magna erat. Tempor lorem
                                        kasd vero ipsum sit sit diam justo sed vero dolor duo.</p>
                                </div>
                                <a href="" class="btn btn-primary py-3 px-4 me-2"><i
                                        class="fa fa-phone-alt me-2"></i>Make A Call</a>
                                <a href="" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Get
                                    Appoinment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->
        <!-- Booking Modal -->
        <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content p-4">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookingModalLabel">Schedule Your Event</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('book_event') }}" method="POST" class="space-y-4">
                            <div class="form-group mb-2">
                                <input type="date" id="target_date" name="target_date" class="form-control" required />
                            </div>
                            <div class="form-group mb-2">
                                <input type="text" id="venue" name="venue" placeholder="Enter your venue"
                                    class="form-control" required />
                            </div>
                            <div class="form-group mb-2">
                                <select class="form-control" id="event_type" name="event_type" required>
                                    <option value="">Select event type</option>
                                    <option value="Wedding">Wedding</option>
                                    <option value="Birthday">Birthday</option>
                                    <option value="Christening">Christening</option>
                                    <option value="Corporate">Corporate</option>
                                    <option value="Social">Social</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <input type="text" id="service_package_input" name="service_package"
                                    class="form-control" placeholder="Auto-filled from package" readonly />
                            </div>
                            <div class="form-group mb-2">
                                <input type="time" id="start_time" name="start_time" class="form-control" required />
                            </div>
                            <div class="form-group mb-2">
                                <input type="time" id="end_time" name="end_time" class="form-control" required />
                            </div>
                            <div class="form-group mb-2">
                                <input type="tel" id="phone" name="phone" placeholder="Enter phone number"
                                    class="form-control" required />
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" id="email" name="email" value="{{ session['email'] }}"
                                    class="form-control" readonly required />
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit Booking</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END BOOK MODAL -->

        <!-- Team Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Property Agents</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem
                        kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="static/img/team-1.jpg" alt="">
                                <div
                                    class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Full Name</h5>
                                <small>Designation</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="static/img/team-2.jpg" alt="">
                                <div
                                    class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Full Name</h5>
                                <small>Designation</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="static/img/team-3.jpg" alt="">
                                <div
                                    class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Full Name</h5>
                                <small>Designation</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="static/img/team-4.jpg" alt="">
                                <div
                                    class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Full Name</h5>
                                <small>Designation</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Clients Say!</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% if testimonials %}
                {% for testimonial in testimonials %}
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>{{ testimonial.testimonial_text }}</p>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 rounded-circle bg-primary text-white d-flex align-items-center justify-content-center" style="width: 45px; height: 45px; font-weight: bold; font-size: 18px;">
                                    {% if testimonial.client_name %}
                                        {% set full_name = testimonial.client_name %}
                                        {% set initials = "" %}
                                        
                                        {# Get first initial #}
                                        {% if full_name|length > 0 %}
                                            {% set initials = full_name[0]|upper %}
                                        {% endif %}
                                        
                                        {# Find space for second initial #}
                                        {% set space_pos = full_name.find(' ') %}
                                        {% if space_pos > -1 and (space_pos + 1) < full_name|length %}
                                            {% set initials = initials + full_name[space_pos + 1]|upper %}
                                        {% endif %}
                                        
                                        {{ initials }}
                                    {% endif %}
                                </div>
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">{{ testimonial.client_name }}</h6>
                                    <small>{{ testimonial.profession }}</small>
                                    {% if testimonial.rating %}
                                        <div class="mt-1">
                                            {% for i in range(testimonial.rating) %}
                                                <small class="fa fa-star text-warning"></small>
                                            {% endfor %}
                                            {% for i in range(5 - testimonial.rating) %}
                                                <small class="fa fa-star text-secondary"></small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <!-- Fallback if no testimonials are available -->
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-4">
                        <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="static/img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">Client Name</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Testimonial End -->
        {% endblock %}